@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@media screen and (max-width: 700px) {
  .header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 150px;
    height: auto;
  }
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?galaxy");
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: inline;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.links h1 {
  color: #f1356d;
}

.links {
  margin-left: auto;
}

.links a {
  color: white;
  font-size: large;
  font-weight: 500;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.links a:hover {
  color: #f1356d;
}

.hidden {
  display: none;
}

.home {
  font-size: larger;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  font-size: larger;
  text-align: center;
}

.works {
  font-size: larger;
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: medium;
  margin: 1em;
  border-radius: 9px;
  border: 5;
  height: 3em;
  width: 10em;
  background-color: #c1c0c02b;
  color: aliceblue;
}

.button:hover {
  background-color: #f1356d;
  cursor: pointer;
}

.troll {
  font-family: inherit;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border-radius: 9px;
  border: 5;
  height: 3em;
  width: 10em;
  background-color: #c1c0c02b;
  color: aliceblue;
}
.troll:hover {
  background-color: #f1356d;
  cursor: pointer;
}

img {
  width: auto;
  height: auto;
}
